<form method="POST" action="">

    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        {% csrf_token %}

        <label for="uname"><b>Username</b></label>
        {{ form.username }}
        <br>
        <label for="email"><b>Email</b></label>
        {{ form.email }}
        <br>
        <label for="psw"><b>Password</b></label>
        {{ form.password1 }}
        <br>
        <label for="psw-repeat"><b>Repeat Password</b></label>
        {{ form.password2 }}
        <hr>

        <button type="submit" class="registerbtn">Register</button>
    </div>

    {{ form.errors }}

    <div class="container signin">
        <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
    </div>
</form>
</form>